<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="watchlist" href="/tabs/watchlist">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Watchlist</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="watched" href="/tabs/watched">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <ion-label>Watched</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats" href="/tabs/stats">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>